#main-btn {
    height: 6vw;
    width: 10vw;
    font-size: 1.5vw;
}

#finished-btn {
    height: 6vw;
    width: 10vw;
    font-size: 2vw;
}

#too-early-btn {
    height: 6vw;
    width: 10vw;
    font-size: 1.5vw;
}